@import url('./common.css');
header {
  display: flex;
  background: linear-gradient(90deg, var(--primary), var(--secondary));
  box-shadow: 0px 3px 5px lightgrey;
  padding: 0 3em;
}

a {
  display: block;
  width: fit-content;
  padding: .7em 1em;
  text-decoration: none;
  color: white;
}

a:hover {
  cursor: pointer;
}

a#home {
  border-bottom: .2em solid white;
}

p {
  padding: .7em 1em;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: auto;
  color: rgb(223, 223, 223);
}

.user-info a {
  text-transform: capitalize;
  margin-left: 10px;
}

.user-info a:hover {
  cursor: pointer;
}

.user-info .user-image {
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: white;
  margin-left: .7em;
  object-fit: cover;
}

.user-info .user-image img {
  width: 100%;
  border-radius: 50%;
}

/* New task ----------------------------------------------------------- */

.new-task {
  position: relative;
  display: flex;
  align-items: center;
  background-color: white;
  width: 80%;
  margin: 0 10%;
  padding: 1em;
  box-shadow: 2px 2px 10px lightgrey;
  border-radius: .2em;
  z-index: 20;
}

.new-task input[type=text] {
  border: none;
  flex: 1;
  border-bottom: 1px solid lightgrey;
  border-radius: 0;
  padding: .3em;
  font-size: 1.1em;
}

.new-task input:focus {
  outline: none;
  border-bottom: 1px solid grey;
}

.new-task input::placeholder {
  color: rgb(197, 197, 197);
  text-indent: .2em;
}

.new-task button, .task button.delete {
  height: 2em;
  width: 2em;
  background-color: transparent;
  margin-left: 2em;
  opacity: .5;
}
 
.task button.delete {
  min-height: 1.5em;
  min-width: 1.5em;
  max-height: 1.5em;
  max-width: 1.5em;
  opacity: .75;
  filter: invert(61%) sepia(37%) saturate(4704%) hue-rotate(203deg) brightness(105%) contrast(101%);
}

.task button.delete:hover {
  filter: invert(47%) sepia(46%) saturate(634%) hue-rotate(224deg) brightness(87%) contrast(90%);
  opacity: 1;
  /* lightRed -> filter: invert(15%) sepia(83%) saturate(6078%) hue-rotate(359deg) brightness(98%) contrast(120%); */
}

.task button {
  margin-right: 1em;
}

.new-task button:hover, .task button.delete:hover {
  opacity: 1;
}

.new-task button img, .task button.delete img {
  height: 100%;
  width: 100%;
}

.not-done {
  width: 2em;
  height: 2em;
  background-color: var(--app-grey);
  margin-right: 1em;
  border-radius: 50%;
  cursor: pointer;
}

/* Tasks ----------------------------------------------------------- */

.todo-tasks {
  display: flex;
  flex-direction: column;
  width: 70%;
  list-style: none;
  margin: 2em 15%;
}

.task {
  display: flex;
  align-items: center;
  margin-bottom: 1.5em;
}

.task .not-done {
  position: relative;
  height: 1.5em;
  width: 1.5em;
  background-color: white;
  box-shadow: 2px 2px 5px lightgrey;
  border: 2px solid var(--secondary);
  z-index: 2;
  transition: background-color 200ms linear;
}

.task .not-done:hover {
  background-color: var(--secondary);
}

.task:first-child .not-done::before {
  content: '';
  position: absolute;
  bottom: 100%;
  left: calc(.75em - 1px);
  display: block;
  height: 3em;
  width: 2px;
  background-color: var(--secondary);
}

.task:not(:last-child) .not-done::after {
  content: '';
  position: absolute;
  top: 100%;
  left: calc(.75em - 1px);
  display: block;
  height: 4.5em;
  width: 2px;
  background-color: var(--secondary);
}

.task .description {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  background-color: white;
  padding: 1em 2em;
  box-shadow: 2px 2px 5px lightgrey;
}

.task .description div {
  display: flex;
  align-items: center;
}

.task .name {
  color: rgb(95, 95, 95);
}

.task .timestamp {
  font-size: .9em;
  color: rgb(134, 134, 134);
}

/* Done tasks ----------------------------------------------------------- */

.title-done-tasks {
  position: relative;
  width: 8em;
  text-align: center;
  padding: .5em 1em;
  background-color: white;
  border-radius: .2em;
  box-shadow: 3px 3px 5px lightgrey;
  color: rgb(170, 170, 170);
  font-weight: 400;
  font-size: 1.1em;
  margin-left: calc(15% - 4em);
  z-index: 20;
}

.done-tasks {
  display: flex;
  flex-direction: column;
  width: 70%;
  list-style: none;
  margin: 2em 15%;
}

.done-tasks .not-done {
  background-color: lightgrey;
  border-color: grey;
}

.done-tasks .not-done::before,
.done-tasks .not-done::after {
  background-color: grey !important;
}

.done-tasks .task .description {
  background-color: rgb(228, 228, 228);
}

.done-tasks .task .description .name {
  color: grey;
  text-decoration: line-through;
}

/* Media queries --------------------------------------------------------- */
@media (max-width: 480px) {

  header {
    padding: 0 1em;
  }

  header .user-info a {
    margin-left: 0;
  }

  .user-info {
    font-size: .9em;
    gap: 20px;
  }

  a, #user-name {
    padding: .7em 0;
  }

  .todo-tasks, .done-tasks {
    margin: 10%;
    width: 80%;
  }

  .new-task {
    margin: auto;
    padding: .7em;
  }

  .new-task button, .task button.delete {
    margin: .5em;
  }

  .title-done-tasks {
    margin-left: 5%;
  }

  p {
    padding: .5em;
  }

  .task {
    font-size: 1em;
    width: 100%;
  }

  .task button.delete {
    margin: .5em;
  }

  .task .description {
    padding: .25em .75em;
  }

  .task .timestamp {
    font-size: .7em;
  }
}